@import "../styles/variables";

.content {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-top: 40px;
  padding: 40px;
  box-shadow: rgb(0 0 0 / 10%) 0 10px 50px;
  border-radius: 5px;
}

.title {
  cursor: pointer;
  text-align: center;
  color: #444;
  font-size: 25px; /* px-to-viewport-ignore */
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.meta {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 12px; /* px-to-viewport-ignore */

  li {
    position: relative;
    padding: 10px;

    &:not(:first-child)::before {
      content: "";
      border: 2px solid #000; /* px-to-viewport-ignore */
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    span {
      padding: 0 2px; /* px-to-viewport-ignore */
    }
  }
}

.postBody {
  line-height: 2;
  font-size: 16px; /* px-to-viewport-ignore */
  color: #555;
  max-width: 1000px;
  max-height: 300px; /* px-to-viewport-ignore */
  overflow: hidden;
  margin: 40px 0; /* px-to-viewport-ignore */
}

.postDetail {
  text-align: center;

  span {
    display: inline-block;
    border-radius: 5px; /* px-to-viewport-ignore */
    background-color: $button-background-color-hover;
    padding: 1px 15px; /* px-to-viewport-ignore */
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      transform: scale(1.1);
      background-image: linear-gradient(
        to right,
        $button-background-color-active1 0,
        $button-background-color-active2 100%
      );
    }
  }
}
