@import "../styles/variables";

.layout {
  display: flex;
  justify-content: space-around;
}

.leftAside {
  position: relative;
  width: 360px;
}

.main {
  flex: 1;
  // padding: 40px 20px;
}

@media all and (max-width: 960px) {
  .leftAside {
    display: none;
  }
}