$global-background-color: #FEFEFE;
$block-background-color: #FFFFFF;

$button-background-color-hover: rgba(0,0,0,.1);
$button-background-color-active1: rgba(237, 110, 160, 1);
$button-background-color-active2: rgba(236, 140, 105, 1);