// 全局变量
@import "./variables";

// 样式初始化
@import "./_reset";

// highlight.js 自定义样式
@import "./customCodeStyle.scss";

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// anchor 样式
.header-anchor {
  color: rgb(237, 116, 150);
}

// TOC 样式
.table-of-contents {
  position: fixed;
  top: 100px;
  max-height: 800px;
  overflow-y: auto;
  padding: 20px;
  background-color: $block-background-color;
  z-index: 99;
  box-shadow: rgb(0 0 0 / 10%) 0 10px 50px;
  border-radius: 5px;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .list-class {
    padding-left: 1em;
    counter-reset: list-item;

    .item-class {
      display: block;
      counter-increment: list-item;

      &::before {
        content: counters(list-item, ".") " ";
      }
    }
  }

  .link-class {
    color: #666;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #ed7496;
    }

    .active {
      background-color: red;
    }
  }
}
