// 全局变量
@import "./variables";

// 样式初始化
@import "./_reset";

// highlight.js 自定义样式
@import "./customCodeStyle.scss";

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}