@import "./variables";

/*=============================================
=            index.js comment block            =
=============================================*/

.postSection {
  max-width: 1100px;
}

@media (max-width: 960px) {
  .postSection {
    max-width: none;
  }
}

/*=====  End of index.js comment block  ======*/

/*=============================================
=            [id].js comment block            =
=============================================*/

.article {
  display: flex;
  position: relative;
  justify-content: space-around;
  overflow: hidden;

  .post {
    flex: 1;
    max-width: 1100px;
    padding: 20px;
  }

  .nav {
    position: relative;
    width: 360px;
  }
}

@media (max-width: 960px) {
  .article {
    .post {
      width: 100vw;
      max-width: none;
    }

    .nav {
      display: none;
    }
  }
}

/*=====  End of [id].js comment block  ======*/
